<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercury Tours Regression Suits</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9aa96">  <td>19/02/02 16:22:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuits.Applaunch()[pri:0, instance:com.mercury.test.LoginRegressionSuits@66d18979]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1610702581</td>   <td></td> </tr>
<tr bgcolor="e9aa96">  <td>19/02/02 16:22:54</td>   <td>10671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuits.verifyValidLogin()[pri:0, instance:com.mercury.test.LoginRegressionSuits@66d18979]">verifyValidLogin</td> 
  <td>main@1610702581</td>   <td></td> </tr>
<tr bgcolor="e9aa96">  <td>19/02/02 16:23:05</td>   <td>21625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuits.appClose()[pri:0, instance:com.mercury.test.LoginRegressionSuits@66d18979]">&lt;&lt;appClose</td> 
<td>&nbsp;</td>  <td>main@1610702581</td>   <td></td> </tr>
<tr bgcolor="e9aa96">  <td>19/02/02 16:23:05</td>   <td>22221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuits.Applaunch()[pri:0, instance:com.mercury.test.LoginRegressionSuits@66d18979]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1610702581</td>   <td></td> </tr>
<tr bgcolor="e9aa96">  <td>19/02/02 16:23:15</td>   <td>32080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuits.verifyInValidLogin()[pri:1, instance:com.mercury.test.LoginRegressionSuits@66d18979]">verifyInValidLogin</td> 
  <td>main@1610702581</td>   <td></td> </tr>
<tr bgcolor="e9aa96">  <td>19/02/02 16:23:23</td>   <td>39921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuits.appClose()[pri:0, instance:com.mercury.test.LoginRegressionSuits@66d18979]">&lt;&lt;appClose</td> 
<td>&nbsp;</td>  <td>main@1610702581</td>   <td></td> </tr>
<tr bgcolor="b7cd72">  <td>19/02/02 16:23:24</td>   <td>40579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuits.Applaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuits@5c671d7f]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1610702581</td>   <td></td> </tr>
<tr bgcolor="b7cd72">  <td>19/02/02 16:23:35</td>   <td>51493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuits.verifyDefaultSelectionFlightType()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuits@5c671d7f]">verifyDefaultSelectionFlightType</td> 
  <td>main@1610702581</td>   <td></td> </tr>
<tr bgcolor="b7cd72">  <td>19/02/02 16:23:46</td>   <td>63051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FlightFinderRegressionSuits.appClose()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuits@5c671d7f]">&lt;&lt;appClose</td> 
<td>&nbsp;</td>  <td>main@1610702581</td>   <td></td> </tr>
<tr bgcolor="b7cd72">  <td>19/02/02 16:23:47</td>   <td>63662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuits.Applaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuits@5c671d7f]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@1610702581</td>   <td></td> </tr>
<tr bgcolor="b7cd72">  <td>19/02/02 16:23:56</td>   <td>72654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuits.verifyDepartingFromValueSelection()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuits@5c671d7f]">verifyDepartingFromValueSelection</td> 
  <td>main@1610702581</td>   <td></td> </tr>
<tr bgcolor="b7cd72">  <td>19/02/02 16:24:06</td>   <td>83348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FlightFinderRegressionSuits.appClose()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuits@5c671d7f]">&lt;&lt;appClose</td> 
<td>&nbsp;</td>  <td>main@1610702581</td>   <td></td> </tr>
</table>
