<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9aa96">  <td>19/02/02 16:10:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuits.Applaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuits@66d18979]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@2082351774</td>   <td></td> </tr>
<tr bgcolor="e9aa96">  <td>19/02/02 16:10:52</td>   <td>20379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFinderRegressionSuits.Applaunch()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuits@66d18979]">&gt;&gt;Applaunch</td> 
<td>&nbsp;</td>  <td>main@2082351774</td>   <td></td> </tr>
<tr bgcolor="e9aa96">  <td>19/02/02 16:10:51</td>   <td>19784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FlightFinderRegressionSuits.appClose()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuits@66d18979]">&lt;&lt;appClose</td> 
<td>&nbsp;</td>  <td>main@2082351774</td>   <td></td> </tr>
<tr bgcolor="e9aa96">  <td>19/02/02 16:11:11</td>   <td>39604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FlightFinderRegressionSuits.appClose()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuits@66d18979]">&lt;&lt;appClose</td> 
<td>&nbsp;</td>  <td>main@2082351774</td>   <td></td> </tr>
<tr bgcolor="e9aa96">  <td>19/02/02 16:10:41</td>   <td>9385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuits.verifyDefaultSelectionFlightType()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuits@66d18979]">verifyDefaultSelectionFlightType</td> 
  <td>main@2082351774</td>   <td></td> </tr>
<tr bgcolor="e9aa96">  <td>19/02/02 16:11:01</td>   <td>29260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFinderRegressionSuits.verifyDepartingFromValueSelection()[pri:0, instance:com.mercury.test.FlightFinderRegressionSuits@66d18979]">verifyDepartingFromValueSelection</td> 
  <td>main@2082351774</td>   <td></td> </tr>
</table>
